/* Reset some default styles and apply common settings */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Styles for the header/navbar */
header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 23px;
}

.navbar h1 {
  margin: 0; /* Remove margin to prevent spacing on the left */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0px 0 0 772px;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: orange;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.navbar a:hover {
  color: orange;
}

.navbar a:hover:before {
  width: 100%;
}

/* Main content styles */
main {
  padding: 2rem;
  text-align: center;
}

/* Project styles */
.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  transition: transform 0.2s;
}

.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  font-size: 1.8rem;
  margin-top: 0;
}

.project p {
  font-size: 1.2rem;
  color: #666;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

footer p {
  font-size: 1rem;
  margin: 0;
}
